* text=auto !eol
/Makefile -text
/README -text
/apertium-deu.deu.acx -text
/apertium-deu.deu.dix -text
/apertium-deu.deu.rlx -text
/apertium-deu.post-deu.dix -text
/deu.prob -text svneol=unset#unset
texts/tennis1.ana.cg -text
texts/tennis1.raw.txt -text
