* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-deu.deu.acx -text
/apertium-deu.deu.dix -text
/apertium-deu.deu.rlx -text
/apertium-deu.pc.in -text
/apertium-deu.post-deu.dix -text
/autogen.sh -text
/configure.ac -text
/deu.prob -text svneol=unset#unset
dev/add_candidates -text
/modes.xml -text svneol=unset#text/plain
texts/mittelalter1.ana.cg -text
texts/mittelalter1.raw.txt -text
texts/münze1.ana.cg -text
texts/münze1.raw.txt -text
texts/münze2.ana.cg -text
texts/münze2.raw.txt -text
texts/münze3.ana.cg -text
texts/münze3.raw.txt -text
texts/münze4.ana.cg -text
texts/münze4.raw.txt -text
texts/python.nuboro.cg -text
texts/python.raw.txt -text
texts/ritter1.ana.cg -text
texts/ritter1.dis.nuboro.cg -text
texts/ritter1.raw.txt -text
texts/samurai1.ana.cg -text
texts/samurai1.dis.nuboro.cg -text
texts/samurai1.raw.txt -text
texts/tennis1.ana.cg -text
texts/tennis1.dis.nuboro.cg -text
texts/tennis1.raw.txt -text
texts/tennis2.ana.cg -text
texts/tennis2.dis.nuboro.cg -text
texts/tennis2.raw.txt -text
texts/tennis3.ana.cg -text
texts/tennis3.dis.nuboro.cg -text
texts/tennis3.raw.txt -text
